# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Express build
server/dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Testing
coverage/
.nyc_output

# Misc
*.tsbuildinfo
next-env.d.ts
